# Price analysis, Profitability and Affordability of Taxi trips in New York City

## Name: Venkata Krishna Bharadwaj Boinepally
## UB ID: 50419396
## UB Email: vboinepa@buffalo.edu
## Course: CSE 587: Data Intensive Computing
## Term: Fall 2022
## Project Name: [Phase 2] Prediction of Taxi Trip Fare for given distance and time

## Data Processing
(Same as Phase 1. For more details, refer Phase 1)

Import numpy, pandas, matplotlib, seaborn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

Source of dataset [https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

In [3]:
# trip data
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2022-06.parquet

--2022-11-05 15:34:08--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2022-06.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.65.40.85, 18.65.40.156, 18.65.40.67, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.65.40.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 458193119 (437M) [application/x-www-form-urlencoded]
Saving to: ‘fhvhv_tripdata_2022-06.parquet.5’

fhvhv_tripdata_2022 100%[===================>] 436.97M  12.1MB/s    in 38s

2022-11-05 15:34:48 (11.4 MB/s) - ‘fhvhv_tripdata_2022-06.parquet.5’ saved [458193119/458193119]

In [4]:
# zone data
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2022-11-05 15:34:49--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.65.40.156, 18.65.40.229, 18.65.40.85, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.65.40.156|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv.4’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-11-05 15:34:50 (239 MB/s) - ‘taxi+_zone_lookup.csv.4’ saved [12322/12322]

Do
1. pip install pyarrow
2. pip install fastparquet

For reading parquet files

Read trip data for June 2022

In [5]:
df = pd.read_parquet('fhvhv_tripdata_2022-06.parquet')

In [6]:
df

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2022-06-01 00:15:35,2022-06-01 00:17:20,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,...,0.68,2.75,0.0,1.00,9.36,N,N,,N,N
1,HV0003,B03404,B03404,2022-06-01 00:39:04,2022-06-01 00:40:36,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,...,1.81,2.75,0.0,4.82,15.61,N,N,,N,N
2,HV0003,B03404,B03404,2022-06-01 00:27:53,2022-06-01 00:31:34,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,...,1.09,2.75,0.0,1.00,8.22,N,N,,N,N
3,HV0003,B03404,B03404,2022-06-01 00:48:15,2022-06-01 00:49:38,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,...,2.19,2.75,0.0,0.00,16.88,N,N,,N,N
4,HV0005,B03406,None,2022-06-01 00:04:51,NaT,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,...,0.73,2.75,0.0,0.00,5.47,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,HV0003,B03404,B03404,2022-06-30 23:20:49,2022-06-30 23:24:23,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,...,1.56,2.75,0.0,2.24,16.23,N,N,,N,N
17780071,HV0003,B03404,B03404,2022-06-30 23:36:13,2022-06-30 23:39:12,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,...,1.59,2.75,0.0,0.00,13.94,N,N,,N,N
17780072,HV0003,B03404,B03404,2022-06-30 23:50:50,2022-06-30 23:55:11,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,...,1.06,2.75,0.0,3.00,18.46,N,N,,N,N
17780073,HV0003,B03404,B03404,2022-06-30 23:02:40,2022-06-30 23:04:58,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,...,2.79,2.75,0.0,1.00,27.27,N,N,,N,N
17780074,HV0005,B03406,None,2022-06-30 23:00:28,NaT,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,...,1.80,0.00,0.0,0.00,15.26,N,N,N,N,N

Read zone data

In [7]:
zone_df = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
zone_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

Statistics for each column of trip data

In [9]:
df.describe()

,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07
mean,1.390083e+02,1.429608e+02,5.169061e+00,1.216133e+03,2.507782e+01,1.194475e+00,7.946835e-01,2.124014e+00,1.160395e+00,2.122203e-01,1.164189e+00,1.992252e+01
std,7.492537e+01,7.802175e+01,6.058429e+00,8.924502e+02,2.111751e+01,3.975068e+00,7.077042e-01,1.757838e+00,1.366686e+00,7.030242e-01,3.247914e+00,1.629283e+01
min,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-1.055700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.300000e+02
25%,7.500000e+01,7.600000e+01,1.660000e+00,6.180000e+02,1.191000e+01,0.000000e+00,3.600000e-01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.570000e+00
50%,1.400000e+02,1.420000e+02,3.119000e+00,9.840000e+02,1.922000e+01,0.000000e+00,5.800000e-01,1.640000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.536000e+01
75%,2.110000e+02,2.200000e+02,6.420000e+00,1.544000e+03,3.084000e+01,0.000000e+00,9.700000e-01,2.670000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.477000e+01
max,2.650000e+02,2.650000e+02,6.259600e+02,4.230900e+04,2.409230e+03,2.262000e+02,7.291000e+01,2.156800e+02,1.100000e+01,6.900000e+00,1.500000e+02,9.933100e+02

Column description for this data - [https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_hvfhs.pdf](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_hvfhs.pdf)

### Data Cleaning/Processing - 1
- Remove unnecessary columns not relevant to our problem statement

In [10]:
df.drop(columns=['dispatching_base_num',
                 'originating_base_num',
                 'on_scene_datetime',
                 'tolls',
                 'bcf',
                 'sales_tax',
                 'congestion_surcharge',
                 'airport_fee',
                 'shared_request_flag',
                 'shared_match_flag',
                 'access_a_ride_flag',
                 'wav_request_flag',
                 'wav_match_flag'],
        inplace=True)

In [11]:
df

,hvfhs_license_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tips,driver_pay
0,HV0003,2022-06-01 00:15:35,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,480,7.68,1.00,9.36
1,HV0003,2022-06-01 00:39:04,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,835,20.40,4.82,15.61
2,HV0003,2022-06-01 00:27:53,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,549,12.29,1.00,8.22
3,HV0003,2022-06-01 00:48:15,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,1197,24.70,0.00,16.88
4,HV0005,2022-06-01 00:04:51,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,234,8.23,0.00,5.47
...,...,...,...,...,...,...,...,...,...,...,...
17780070,HV0003,2022-06-30 23:20:49,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,816,17.60,2.24,16.23
17780071,HV0003,2022-06-30 23:36:13,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,710,17.93,0.00,13.94
17780072,HV0003,2022-06-30 23:50:50,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,595,11.98,3.00,18.46
17780073,HV0003,2022-06-30 23:02:40,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,1184,31.47,1.00,27.27
17780074,HV0005,2022-06-30 23:00:28,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,907,20.28,0.00,15.26

### Data Cleaning/Processing - 2
- Drop NA values

In [12]:
df.dropna(inplace=True)

### Data Cleaning/Processing - 3
- Rename Columns and map the taxi company code to taxi name like Uber, Lyft

Actual codes
- HV0002: Juno
- HV0003: Uber
- HV0004: Via
- HV0005: Lyft

In [13]:
df.rename(columns={
    'hvfhs_license_num': 'taxi_company',
    'PULocationID': 'PULocation',
    'DOLocationID': 'DOLocation'
}, inplace=True)

In [14]:
def license_company_map(lic):
    if lic == 'HV0003':
        return 'Uber'
    elif lic == 'HV0005':
        return 'Lyft'
    return lic

In [15]:
df['taxi_company'] = pd.factorize(df['taxi_company'])[0]

In [16]:
df['taxi_company_name'] = df['taxi_company'].map(license_company_map)

### Data Cleaning/Processing - 4
- Now there are some unknown locations in Pickup and Dropoff which we know by analysing Zone dataframe
- Remove the rows containing unknown locations in "df"

In [17]:
zone_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [18]:
df

,taxi_company,request_datetime,pickup_datetime,dropoff_datetime,PULocation,DOLocation,trip_miles,trip_time,base_passenger_fare,tips,driver_pay,taxi_company_name
0,0,2022-06-01 00:15:35,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,480,7.68,1.00,9.36,0
1,0,2022-06-01 00:39:04,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,835,20.40,4.82,15.61,0
2,0,2022-06-01 00:27:53,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,549,12.29,1.00,8.22,0
3,0,2022-06-01 00:48:15,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,1197,24.70,0.00,16.88,0
4,1,2022-06-01 00:04:51,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,234,8.23,0.00,5.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,0,2022-06-30 23:20:49,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,816,17.60,2.24,16.23,0
17780071,0,2022-06-30 23:36:13,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,710,17.93,0.00,13.94,0
17780072,0,2022-06-30 23:50:50,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,595,11.98,3.00,18.46,0
17780073,0,2022-06-30 23:02:40,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,1184,31.47,1.00,27.27,0
17780074,1,2022-06-30 23:00:28,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,907,20.28,0.00,15.26,1

In [19]:
def unknown_locations(id):
    if id == 264 or id == 265:
        return True
    return False

In [20]:
df[
    df.PULocation.map(unknown_locations)
].index

Int64Index([   13254,    64649,    70100,    75130,    86298,    99255,
              106944,   129350,   147399,   183654,
            ...
            17479230, 17500961, 17516820, 17545267, 17573284, 17618911,
            17700506, 17772055, 17773057, 17776276],
           dtype='int64', length=900)

In [21]:
df.drop(df[
    df.PULocation.map(unknown_locations)
].index, inplace=True)

In [22]:
df[
    df.DOLocation.map(unknown_locations)
].index

Int64Index([      23,       26,       44,       68,       80,      138,
                 150,      168,      192,      240,
            ...
            17779915, 17779930, 17779977, 17779986, 17779990, 17779999,
            17780016, 17780024, 17780036, 17780049],
           dtype='int64', length=767811)

In [23]:
df.drop(df[
    df.DOLocation.map(unknown_locations)
].index, inplace=True)

### Data Cleaning/Processing - 5
- There are some trips either having 0 miles as trip_miles or 0 seconds as time_time
- Remove those trips

In [24]:
def zero_trip(trip_ms):
    if trip_ms == 0:
        return True
    return False

In [25]:
df.drop(df[
    df.trip_miles.map(zero_trip)
].index, inplace=True)

In [26]:
df.drop(df[
    df.trip_time.map(zero_trip)
].index, inplace=True)

In [27]:
df

,taxi_company,request_datetime,pickup_datetime,dropoff_datetime,PULocation,DOLocation,trip_miles,trip_time,base_passenger_fare,tips,driver_pay,taxi_company_name
0,0,2022-06-01 00:15:35,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,480,7.68,1.00,9.36,0
1,0,2022-06-01 00:39:04,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,835,20.40,4.82,15.61,0
2,0,2022-06-01 00:27:53,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,549,12.29,1.00,8.22,0
3,0,2022-06-01 00:48:15,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,1197,24.70,0.00,16.88,0
4,1,2022-06-01 00:04:51,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,234,8.23,0.00,5.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,0,2022-06-30 23:20:49,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,816,17.60,2.24,16.23,0
17780071,0,2022-06-30 23:36:13,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,710,17.93,0.00,13.94,0
17780072,0,2022-06-30 23:50:50,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,595,11.98,3.00,18.46,0
17780073,0,2022-06-30 23:02:40,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,1184,31.47,1.00,27.27,0
17780074,1,2022-06-30 23:00:28,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,907,20.28,0.00,15.26,1

In [28]:
zone_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

### Data Cleaning/Processing - 6
- Expand the pickup and dropoff column to contain location names instead of location code
- This is used in later phases to lookup addresses and estimate distance

In [29]:
zone_df['LocationName'] = zone_df['Zone'] + ", " + zone_df['Borough']

In [30]:
zone_df

,LocationID,Borough,Zone,service_zone,LocationName
0,1,EWR,Newark Airport,EWR,"Newark Airport, EWR"
1,2,Queens,Jamaica Bay,Boro Zone,"Jamaica Bay, Queens"
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,"Allerton/Pelham Gardens, Bronx"
3,4,Manhattan,Alphabet City,Yellow Zone,"Alphabet City, Manhattan"
4,5,Staten Island,Arden Heights,Boro Zone,"Arden Heights, Staten Island"
...,...,...,...,...,...
260,261,Manhattan,World Trade Center,Yellow Zone,"World Trade Center, Manhattan"
261,262,Manhattan,Yorkville East,Yellow Zone,"Yorkville East, Manhattan"
262,263,Manhattan,Yorkville West,Yellow Zone,"Yorkville West, Manhattan"
263,264,Unknown,NV,NaN,"NV, Unknown"
264,265,Unknown,NaN,NaN,NaN

In [31]:
zone_df.set_index('LocationID', inplace=True)

In [32]:
id_location_map = zone_df['LocationName'].T.to_dict()

In [33]:
df['PULocationName'] = df['PULocation'].map(id_location_map)

In [34]:
df['DOLocationName'] = df['DOLocation'].map(id_location_map)

In [35]:
df

,taxi_company,request_datetime,pickup_datetime,dropoff_datetime,PULocation,DOLocation,trip_miles,trip_time,base_passenger_fare,tips,driver_pay,taxi_company_name,PULocationName,DOLocationName
0,0,2022-06-01 00:15:35,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,480,7.68,1.00,9.36,0,"Union Sq, Manhattan","Greenwich Village South, Manhattan"
1,0,2022-06-01 00:39:04,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,835,20.40,4.82,15.61,0,"Midtown Center, Manhattan","Manhattan Valley, Manhattan"
2,0,2022-06-01 00:27:53,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,549,12.29,1.00,8.22,0,"TriBeCa/Civic Center, Manhattan","Financial District North, Manhattan"
3,0,2022-06-01 00:48:15,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,1197,24.70,0.00,16.88,0,"Financial District North, Manhattan","Stuyvesant Heights, Brooklyn"
4,1,2022-06-01 00:04:51,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,234,8.23,0.00,5.47,1,"Kips Bay, Manhattan","Midtown East, Manhattan"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,0,2022-06-30 23:20:49,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,816,17.60,2.24,16.23,0,"East Harlem North, Manhattan","Stuy Town/Peter Cooper Village, Manhattan"
17780071,0,2022-06-30 23:36:13,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,710,17.93,0.00,13.94,0,"Stuy Town/Peter Cooper Village, Manhattan","Battery Park City, Manhattan"
17780072,0,2022-06-30 23:50:50,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,595,11.98,3.00,18.46,0,"TriBeCa/Civic Center, Manhattan","TriBeCa/Civic Center, Manhattan"
17780073,0,2022-06-30 23:02:40,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,1184,31.47,1.00,27.27,0,"Union Sq, Manhattan","Clinton East, Manhattan"
17780074,1,2022-06-30 23:00:28,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,907,20.28,0.00,15.26,1,"Washington Heights South, Manhattan","Van Nest/Morris Park, Bronx"

### Data Cleaning/Processing - 7
- Each trip has different number of miles, time taken and the final price
- To compare the prices among different trips, a new column called "fare_per_mile_per_second" is created which is obtained by dividing the "base_passenger_fare" by the "trip_miles" and "trip_time"

In [36]:
df['fare_per_mile_per_second'] = df['base_passenger_fare']/(df['trip_miles']*df['trip_time'])

### Data Cleaning/Processing - 8
- Create a new dataframe grouped by "taxi_company".
- This will be used to perform various analysis and compare results between different taxi companies. (Uber and Lyft)

In [37]:
taxi_grp_df = df.groupby(['taxi_company'])

"plot_bar" function to plot bar chart

In [38]:
def plot_bar(obj):
    obj.plot(kind='bar', title=obj.name, legend=True)

### Data Cleaning/Processing - 9
- Extract the hour from the given date time column for Request, Pickup and Dropoff
- This is used to analyse the trips during different times of day

In [39]:
df['request_hour'] = df['request_datetime'].dt.hour
df['pickup_hour'] = df['pickup_datetime'].dt.hour
df['dropoff_hour'] = df['dropoff_datetime'].dt.hour

In [40]:
def plot_hist(df, series, remove_extremes=True):
    max_value = df[series].quantile(0.99)
    if remove_extremes:
        df = df[df[series] < max_value]
        df = df[df[series] > 0]
    df[series].hist(bins=range(int(max_value)), legend=True)

### Data Cleaning/Processing - 10
- Create a new column "driver_percent_in_fare" to analyse the driver's pay as a percentage of the "base_passenger_fare"
- This is used later to understand how much of a profit margin Taxi companies are targetting to achieve. This profit margin directly effects the price passengers pay.

In [41]:
df['driver_percent_in_fare'] = df['driver_pay']/df['base_passenger_fare']*100

Seaborn plot utility functions for histogram and bar charts (Used for plotting grouped by data)

In [42]:
def plot_sns_grp_hist(grp_df, x, hue):
    ax = sns.histplot(grp_df, x=x, hue=hue, multiple='stack')
    ax.set(xlim=(0, grp_df[x].quantile(0.99)))

In [43]:
def plot_sns_grp_bar(grp_df, x, hue):
    ax = sns.barplot(grp_df, x=x, hue=hue, multiple='stack')
    ax.set(xlim=(0, grp_df[x].quantile(0.99)))

Utility functions to remove outliers, normalize column data using mean-std.dev or min-max procedures

In [44]:
def remove_outliers(df, column):
    min_value = df[column].quantile(0.01)
    max_value = df[column].quantile(0.99)
    df = df[df[column] < max_value]
    df = df[df[column] > min_value]

In [45]:
def mean_std_norm(df, column):
    meanv = df[column].mean()
    stdv = df[column].std()
    df[column] = (df[column] - meanv)/stdv
    df[column] += 1
    df[column] /= 2

In [46]:
def min_max_norm(df, column):
    minv = df[column].min()
    maxv = df[column].max()
    df[column] = 100*(df[column] - minv)/(maxv - minv)

In [47]:
# Used later
# remove_outliers(df, 'fare_per_mile_per_second')
# min_max_norm(df, 'fare_per_mile_per_second')

### Data Cleaning/Processing - 11
- In order to understand the true cost of each trip and the driver profits after deducting their gas cost, new columns like "driver_expenditure", "driver_profit" and "taxi_company_profit" are created.
- This is used in later phases to predict the base fare and how little or more the taxi company can charge the passenger and still end up in profit.
- Average mileage and gas price for the month are hyperparameters. We can choose the value according to the car type and gas prices

In [48]:
mpg = 20 # average miles per gallon
pg = 5.56 # NYC gas price in June 2022
df['driver_expenditure'] = (df['trip_miles']/mpg)*pg
df['driver_profit'] = df['driver_pay'] - df['driver_expenditure']
df['taxi_company_profit'] = df['base_passenger_fare'] - df['driver_pay']

## Machine Learning models to predict fare
(June 2022 Data, For Hire High Volume Vehicles only. Ex: Uber, Lyft)

In [49]:
df

,taxi_company,request_datetime,pickup_datetime,dropoff_datetime,PULocation,DOLocation,trip_miles,trip_time,base_passenger_fare,tips,...,PULocationName,DOLocationName,fare_per_mile_per_second,request_hour,pickup_hour,dropoff_hour,driver_percent_in_fare,driver_expenditure,driver_profit,taxi_company_profit
0,0,2022-06-01 00:15:35,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,480,7.68,1.00,...,"Union Sq, Manhattan","Greenwich Village South, Manhattan",0.010667,0,0,0,121.875000,0.417000,8.943000,-1.68
1,0,2022-06-01 00:39:04,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,835,20.40,4.82,...,"Midtown Center, Manhattan","Manhattan Valley, Manhattan",0.005845,0,0,0,76.519608,1.162040,14.447960,4.79
2,0,2022-06-01 00:27:53,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,549,12.29,1.00,...,"TriBeCa/Civic Center, Manhattan","Financial District North, Manhattan",0.007693,0,0,0,66.883645,0.808980,7.411020,4.07
3,0,2022-06-01 00:48:15,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,1197,24.70,0.00,...,"Financial District North, Manhattan","Stuyvesant Heights, Brooklyn",0.003786,0,0,1,68.340081,1.515100,15.364900,7.82
4,1,2022-06-01 00:04:51,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,234,8.23,0.00,...,"Kips Bay, Manhattan","Midtown East, Manhattan",0.032901,0,0,0,66.464156,0.297182,5.172818,2.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,0,2022-06-30 23:20:49,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,816,17.60,2.24,...,"East Harlem North, Manhattan","Stuy Town/Peter Cooper Village, Manhattan",0.003553,23,23,23,92.215909,1.687460,14.542540,1.37
17780071,0,2022-06-30 23:36:13,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,710,17.93,0.00,...,"Stuy Town/Peter Cooper Village, Manhattan","Battery Park City, Manhattan",0.005154,23,23,23,77.746793,1.362200,12.577800,3.99
17780072,0,2022-06-30 23:50:50,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,595,11.98,3.00,...,"TriBeCa/Civic Center, Manhattan","TriBeCa/Civic Center, Manhattan",0.037990,23,23,0,154.090150,0.147340,18.312660,-6.48
17780073,0,2022-06-30 23:02:40,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,1184,31.47,1.00,...,"Union Sq, Manhattan","Clinton East, Manhattan",0.009326,23,23,23,86.653956,0.792300,26.477700,4.20
17780074,1,2022-06-30 23:00:28,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,907,20.28,0.00,...,"Washington Heights South, Manhattan","Van Nest/Morris Park, Bronx",0.003602,23,23,23,75.246548,1.725546,13.534454,5.02

- For the purpose of training, only 10k records are used.
- For validation and testing, remaining 10k records are used for each.
- In general, we get good results with more data (we have 17 million records for June 2022 alone.)

In [50]:
X = df[['trip_miles', 'trip_time']][:10000]
y = df[['base_passenger_fare']][:10000]
X_validation = df[['trip_miles', 'trip_time']][10000:20000]
y_validation = df[['base_passenger_fare']][10000:20000]
X_test = df[['trip_miles', 'trip_time']][20000:30000]
y_test = df[['base_passenger_fare']][20000:30000]

In [51]:
def get_model_results(model_name, model):
    print(f'Validation and Test loss for {model_name}')
    print(f'Validation Loss: {model.score(X_validation, y_validation)}')
    print(f'Test Loss: {model.score(X_test, y_test)}')

In [52]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [53]:
get_model_results("Linear Regression", lr)

Validation and Test loss for Linear Regression
Validation Loss: 0.8285758053068852
Test Loss: 0.805411127760353

In [54]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X, y)

KNeighborsRegressor(n_neighbors=100)

In [55]:
get_model_results("k Nearest Neighbours", knn)

Validation and Test loss for k Nearest Neighbours
Validation Loss: 0.7483164239149491
Test Loss: 0.7125385379422504

In [56]:
from sklearn.tree import DecisionTreeRegressor

dtree = DecisionTreeRegressor()
dtree.fit(X, y)

DecisionTreeRegressor()

In [57]:
get_model_results("Decision Tree Regressor", dtree)

Validation and Test loss for Decision Tree Regressor
Validation Loss: 0.6550899435165484
Test Loss: 0.648011172715474

In [58]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(hidden_layer_sizes=(10, 10, 10))
mlp.fit(X, y)

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(hidden_layer_sizes=(10, 10, 10))

In [59]:
get_model_results("Multi Layer Perceptron", mlp)

Validation and Test loss for Multi Layer Perceptron
Validation Loss: 0.8202123490196914
Test Loss: 0.79837369500454

In [60]:
from lightgbm import LGBMRegressor

lgbm = LGBMRegressor()
lgbm.fit(X, y)

LGBMRegressor()

In [61]:
get_model_results("LightGBM Regressor", lgbm)

Validation and Test loss for LightGBM Regressor
Validation Loss: 0.8185645973029746
Test Loss: 0.7913484681367595

### Deep Learning Model

For training the Deep Learning Model, we are using all 17 Million records.

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[['trip_miles', 'trip_time']], df[['base_passenger_fare']], test_size=0.3)

In [63]:
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential, Input

dl = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(10, activation='relu', name='layer1'),
        Dense(25, activation='relu', name='layer2'),
        Dense(10, activation='relu', name='layer3'),
        Dense(1, activation='relu', name='output')
    ]
)

dl.summary()

2022-11-05 15:36:50.583883: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:50.588238: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:50.588930: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:50.590502: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-05 15:36:50.590842: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:50.591517: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:50.592147: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:52.846684: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:52.847544: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:52.848204: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node r

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer1 (Dense)               (None, 10)                30
_________________________________________________________________
layer2 (Dense)               (None, 25)                275
_________________________________________________________________
layer3 (Dense)               (None, 10)                260
_________________________________________________________________
output (Dense)               (None, 1)                 11
=================================================================
Total params: 576
Trainable params: 576
Non-trainable params: 0
_________________________________________________________________

ead from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-11-05 15:36:52.848778: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 15381 MB memory:  -> device: 0, name: Tesla P100-PCIE-16GB, pci bus id: 0000:00:04.0, compute capability: 6.0

In [64]:
dl.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl.fit(X_train, y_train, validation_split=0.2, epochs=5, batch_size=2048)

2022-11-05 15:36:53.952534: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/5
2485/4651 [===============>..............] - ETA: 5s - loss: 824.8534 - mse: 824.8534

KeyboardInterrupt:

In [ ]:
# test the deep learning model 1 on the test set
dl.evaluate(X_test, y_test)

This Deep Learning model doesn't seem to give good results because the validation loss isn't decreasing. We have to change our model.

### Deep Learning Model 2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['trip_miles', 'trip_time', 'pickup_hour', 'dropoff_hour', 'PULocation', 'DOLocation', 'taxi_company']],
    df[['base_passenger_fare']],
    test_size=0.3
)

In [ ]:
dl2 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(10, activation='relu', name='layer1'),
        Dense(25, activation='relu', name='layer2'),
        Dense(10, activation='relu', name='layer3'),
        Dense(1, activation='relu', name='output')
    ]
)

dl2.summary()

In [ ]:
dl2.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl2.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=2048)

Much better results than previous deep learning model. A very good improvement.

In [ ]:
# test the deep learning model 2 on the test set
dl2.evaluate(X_test, y_test)

Good results on test set as well and achieved similar loss compared to train and validation data

Deep Learning Model 3

In [ ]:
dl3 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(64, activation='relu', name='layer1'),
        Dense(128, activation='relu', name='layer2'),
        Dense(128, activation='relu', name='layer3'),
        Dense(512, activation='relu', name='layer4'),
        Dense(256, activation='relu', name='layer5'),
        Dense(128, activation='relu', name='layer6'),
        Dense(64, activation='relu', name='layer7'),
        Dense(16, activation='relu', name='layer8'),
        Dense(1, activation='relu', name='output')
    ]
)

dl3.summary()

In [ ]:
dl3.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl3.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=2048)

In [ ]:
# test the deep learning model 3 on the test set
dl3.evaluate(X_test, y_test)

Very bad results compared to Deep Learning Model 2. Need to rethink our approach.

Deep Learning Model 4

In [ ]:
dl4 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(64, activation='sigmoid', name='layer1'),
        Dense(128, activation='relu', name='layer2'),
        Dense(128, activation='relu', name='layer3'),
        Dense(512, activation='relu', name='layer4'),
        Dense(256, activation='relu', name='layer5'),
        Dense(128, activation='relu', name='layer6'),
        Dense(64, activation='relu', name='layer7'),
        Dense(16, activation='relu', name='layer8'),
        Dense(1, activation='relu', name='output')
    ]
)

dl4.summary()

In [ ]:
dl4.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl4.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=2048)

In [ ]:
# test the deep learning model 4 on the test set
dl4.evaluate(X_test, y_test)

Similar results to Deep Learning Model 2 but more consistent.

Deep Learning Model 5

In [ ]:
dl5 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(64, activation='sigmoid', name='layer1'),
        Dense(128, activation='relu', name='layer2'),
        Dense(128, activation='relu', name='layer3'),
        Dense(512, activation='relu', name='layer4'),
        Dense(1024, activation='relu', name='layer5'),
        Dense(1024, activation='relu', name='layer6'),
        Dense(256, activation='relu', name='layer7'),
        Dense(128, activation='relu', name='layer8'),
        Dense(64, activation='relu', name='layer9'),
        Dense(16, activation='relu', name='layer10'),
        Dense(1, activation='relu', name='output')
    ]
)

dl5.summary()

In [ ]:
dl5.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl5.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=4096)

In [ ]:
# test the deep learning model 5 on the test set
dl5.evaluate(X_test, y_test)

Even after adding more layers with more neurons, the results seem to be capped at 69 and it doesn't decrease.

In [71]:
dl6 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        Dense(8, activation='relu', name='layer1'),
        Dense(8, activation='relu', name='layer2'),
        Dense(8, activation='relu', name='layer3'),
        Dense(1, activation='relu', name='output')
    ]
)

dl6.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer1 (Dense)               (None, 8)                 80
_________________________________________________________________
layer2 (Dense)               (None, 8)                 72
_________________________________________________________________
layer3 (Dense)               (None, 8)                 72
_________________________________________________________________
output (Dense)               (None, 1)                 9
=================================================================
Total params: 233
Trainable params: 233
Non-trainable params: 0
_________________________________________________________________

In [72]:
dl6.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl6.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=2048)

2022-11-05 15:56:21.229250: W tensorflow/core/framework/cpu_allocator_impl.cc:80] Allocation of 685740312 exceeds 10% of free system memory.
2022-11-05 15:56:22.191668: W tensorflow/core/framework/cpu_allocator_impl.cc:80] Allocation of 685740312 exceeds 10% of free system memory.

Epoch 1/10
4651/4651 [==============================] - 18s 4ms/step - loss: 80.9364 - mse: 80.9364 - val_loss: 71.7674 - val_mse: 71.7674
Epoch 2/10
4651/4651 [==============================] - 14s 3ms/step - loss: 70.8123 - mse: 70.8123 - val_loss: 69.9468 - val_mse: 69.9468
Epoch 3/10
4651/4651 [==============================] - ETA: 0s - loss: 70.5314 - mse: 70.5314

KeyboardInterrupt:

In [ ]:
# test the deep learning model 6 on the test set
dl6.evaluate(X_test, y_test)

Achieved similar results compared to Deep Learning Model 2.

Some trips have drivers' earning more than the base passenger fare. This might be due to customer promotions by the taxi companies. This leads to some outliers which show high loss when compared to base passenger fare. Removing such records.

In [ ]:
df.head()

In [65]:
df['trip_day'] = df.request_datetime.dt.day_name()

In [66]:
df['trip_day'] = pd.factorize(df['trip_day'])[0]

In [ ]:
df.columns

In [ ]:
# removing trips where driver earning is more than 80% of base passenger fare
df = df[df['driver_percent_in_fare'] < 80]

In [ ]:
len(df)

In [67]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['trip_miles', 'trip_time', 'request_hour', 'pickup_hour', 'dropoff_hour', 'PULocation', 'DOLocation', 'taxi_company', 'trip_day']],
    df[['base_passenger_fare']],
    test_size=0.3
)

In [68]:
from tensorflow.keras.layers import BatchNormalization

In [73]:
dl7 = Sequential(
    [
        Input(shape=X_train.shape[1:]),
        BatchNormalization(),
        Dense(64, activation='relu', name='layer1'),
        Dense(128, activation='relu', name='layer2'),
        Dense(128, activation='relu', name='layer3'),
        Dense(512, activation='relu', name='layer4'),
        Dense(1024, activation='relu', name='layer5'),
        Dense(1024, activation='relu', name='layer6'),
        Dense(256, activation='relu', name='layer7'),
        Dense(128, activation='relu', name='layer8'),
        Dense(64, activation='relu', name='layer9'),
        Dense(16, activation='relu', name='layer10'),
        Dense(1, activation='relu', name='output')
    ]
)

dl7.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_1 (Batch (None, 9)                 36
_________________________________________________________________
layer1 (Dense)               (None, 64)                640
_________________________________________________________________
layer2 (Dense)               (None, 128)               8320
_________________________________________________________________
layer3 (Dense)               (None, 128)               16512
_________________________________________________________________
layer4 (Dense)               (None, 512)               66048
_________________________________________________________________
layer5 (Dense)               (None, 1024)              525312
_________________________________________________________________
layer6 (Dense)               (None, 1024)              1049600
_________________________________________________________________
layer7 (Dense)               (None, 256)               262400
_________________________________________________________________
layer8 (Dense)               (None, 128)               32896
_________________________________________________________________
layer9 (Dense)               (None, 64)                8256
_________________________________________________________________
layer10 (Dense)              (None, 16)                1040
_________________________________________________________________
output (Dense)               (None, 1)                 17
=================================================================
Total params: 1,971,077
Trainable params: 1,971,059
Non-trainable params: 18
_________________________________________________________________

In [ ]:
dl7.compile(optimizer='adam', loss='mse', metrics=['mse'])
history = dl7.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=256)

In [ ]:
# test the deep learning model 6 on the test set
dl7.evaluate(X_test, y_test)

With the addition of two new features "trip_day" and "request_hour", the model performed better with significantly improved results.

## Conclusion
- In this notebook, Machine Learning algorithms are applied to predict the pricing
- Decision Tree Regression gave best results among the various Machine Learning algorithms
- Two deep learning models are applied to the problem resulting in even better results.
- We will be using this Decision Tree Regression model and the better Deep Learning model for inference in Phase 3

## References
- https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
- https://registry.opendata.aws/nyc-tlc-trip-records-pds/
- Seaborn, Pandas, Numpy documentation
- https://machinelearningmastery.com/adam-optimization-algorithm-for-deep-learning/
- https://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw
- http://www.faqs.org/faqs/ai-faq/neural-nets/part3/section-9.html
- https://hagan.okstate.edu/NNDesign.pdf#page=469